[Unit]
Description=lb-controller, an external K8s loadbalancer
After=network.service
Wants=haproxy.service

[Service]
Type=simple
Restart=always
ExecStart={{ lb_controller_python_command }} {{ lb_controller_path }} --config {{ lb_controller_config_dir }}/lb-controller.yaml

[Install]
WantedBy=multi-user.target
