templates: "{{ lb_controller_config_dir }}/templates"
ip_nets:
{{ lb_controller_ip_nets | to_nice_yaml }}
interface: "{{ lb_controller_interface }}"
daemon_config:
  haproxy:
    check_command: ['haproxy', '-c', '-f', '/etc/haproxy/haproxy.cfg']
    generated_config_file: /etc/haproxy/haproxy.cfg
    template_file: haproxy.cfg.j2
  keepalived:
    check_command: ['keepalived', '--check', '-f', '/etc/keepalived/keepalived.conf']
    generated_config_file: /etc/keepalived/keepalived.conf
    template_file: keepalived.conf.j2
metrics:
  addr: "{{ lb_controller_metrics_addr }}"
  port: {{ lb_controller_metrics_port }}
keepalived:
  virtual_router_id: "{{ lb_controller_keepalived_virtual_router_id }}"
  auth_pass: "{{ lb_controller_keepalived_auth_pass }}"
  state: "{{ lb_controller_keepalived_state }}"
  priority: "{{ (lb_controller_keepalived_state == "MASTER") | ternary(100,99) }}"
