global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # Default ciphers to use on SSL-enabled listening sockets.
        # For more information, see ciphers(1SSL). This list is from:
        #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
        # An alternative list with additional directives can be obtained from
        #  https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=haproxy
        ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
        ssl-default-bind-options no-sslv3

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http



frontend http_front
   mode http
   bind 127.0.0.1:8080
   stats uri /info

{%- for (key, svc) in svcs|dictsort -%}
{%- for port in svc.spec.ports -%}
{%- if port.protocol == 'TCP' %}

# Configuration for {{ key }}:{{ port.port }}
frontend front_{{ svc.metadata.namespace }}_{{ svc.metadata.name }}_{{ port.protocol }}_{{ port.port }}
   bind {{ svc.spec.load_balancer_ip }}:{{ port.port }} {% if ":" in svc.spec.load_balancer_ip %}transparent{% endif %}
   default_backend back_{{ svc.metadata.namespace }}_{{ svc.metadata.name }}_{{ port.protocol }}_{{ port.port }}

backend back_{{ svc.metadata.namespace }}_{{ svc.metadata.name }}_{{ port.protocol }}_{{ port.port }}
{%- if svc.spec.health_check_node_port %}
   option httpchk
{%- endif %}
   balance roundrobin
{%- for (name, host) in hosts|dictsort %}
   server node_{{ name | replace('-', '_') }} {{ (host.status.addresses | selectattr('type', 'equalto', 'InternalIP')|map(attribute='address') | list)[0] }}:{{ port.node_port }} check{% if svc.spec.health_check_node_port %} port {{ svc.spec.health_check_node_port}} {% endif %}
{%- endfor %}
{%- endif %}
{% endfor %}
{% endfor %}
