! Configuration File for keepalived
{% set seen_addresses = {} %}

# Check for the presence of the load balancer daemon (haproxy) itself. The
# weight is higher than for SSHD, because if one node only has SSHD and the
# other one only has the LB running, we prefer the LB.

vrrp_script chk_lb {
        script "/usr/bin/killall -0 haproxy"      # pkill -0 is cheaper than pidof
        interval 1                      # check every second
        weight 6                        # add 6 points of prio if present
        fall 2                          # check twice before setting down
        rise 1                          # check once before setting up
}

vrrp_instance SUPPA_VIP {
  state {{ config.keepalived.state }}
  interface {{ config.interface }}
  virtual_router_id {{ config.keepalived.virtual_router_id }}
  priority {{ config.keepalived.priority }}
  advert_int 1
  authentication {
    auth_type PASS
    auth_pass  {{ config.keepalived.auth_pass }}
  }

  track_script {
    chk_lb
  }

  virtual_ipaddress {
{% for (key, svc) in svcs|dictsort %}
    {% if svc.spec.load_balancer_ip not in seen_addresses and "." in svc.spec.load_balancer_ip -%}
    {{ svc.spec.load_balancer_ip }} dev {{ config.interface }} label {{ config.interface }}:{{ loop.index }}
    {%- set _dummy = seen_addresses.update({svc.spec.load_balancer_ip: True}) -%}
    {%- endif -%}
{% endfor %}
  }

  virtual_ipaddress_excluded {
{% for (key, svc) in svcs|dictsort %}
    {% if svc.spec.load_balancer_ip not in seen_addresses and ":" in svc.spec.load_balancer_ip -%}
    {{ svc.spec.load_balancer_ip }} dev {{ config.interface }}
    {%- set _dummy = seen_addresses.update({svc.spec.load_balancer_ip: True}) -%}
    {%- endif -%}
{% endfor %}
  }
}
